fastapi
uvicorn[standard]

langchain
langchain-core
langchain-community
langgraph

langchain-ollama

langchain-huggingface

langchain-chroma

chromadb

sentence-transformers

pymupdf

python-dotenv

streamlit
transformers

pydantic

loguru

python-multipart

pytest

black

ruff